html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden; /* 防止滚动条 */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* 防止内容溢出 */
}

canvas {
    width: 100%;
    height: 100%;
    display: block; /* 防止默认的inline行为 */
}
